@model HalloDoc.DataModels.RequestClient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RequestClient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestClientId" />
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <select asp-for="RequestId" class="form-control" asp-items="ViewBag.RequestId"></select>
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <select asp-for="RegionId" class="form-control" asp-items="ViewBag.RegionId"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotiMobile" class="control-label"></label>
                <input asp-for="NotiMobile" class="form-control" />
                <span asp-validation-for="NotiMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotiEmail" class="control-label"></label>
                <input asp-for="NotiEmail" class="form-control" />
                <span asp-validation-for="NotiEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrMonth" class="control-label"></label>
                <input asp-for="StrMonth" class="form-control" />
                <span asp-validation-for="StrMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntYear" class="control-label"></label>
                <input asp-for="IntYear" class="form-control" />
                <span asp-validation-for="IntYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntDate" class="control-label"></label>
                <input asp-for="IntDate" class="form-control" />
                <span asp-validation-for="IntDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsMobile" class="control-label"></label>
                <input asp-for="IsMobile" class="form-control" />
                <span asp-validation-for="IsMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunicationType" class="control-label"></label>
                <input asp-for="CommunicationType" class="form-control" />
                <span asp-validation-for="CommunicationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemindReservationCount" class="control-label"></label>
                <input asp-for="RemindReservationCount" class="form-control" />
                <span asp-validation-for="RemindReservationCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemindHouseCallCount" class="control-label"></label>
                <input asp-for="RemindHouseCallCount" class="form-control" />
                <span asp-validation-for="RemindHouseCallCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSetFollowupSent" class="control-label"></label>
                <input asp-for="IsSetFollowupSent" class="form-control" />
                <span asp-validation-for="IsSetFollowupSent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsReservationReminderSent" class="control-label"></label>
                <input asp-for="IsReservationReminderSent" class="form-control" />
                <span asp-validation-for="IsReservationReminderSent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
