<div class="footer w-100 text-center bg-dark d-flex justify-content-end align-item-center mt-4 p-3 fixed-bottom">
    <a href="#" class="text-light text-decoration-none">Terms Of Conditions </a>
    <a href="#" class="text-light text-decoration-none">| Privacy Policy</a>
</div>
