<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/patientloginpage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class=" main-area d-flex">
        <div class="backgroungdimg"></div>
        <div class="top-logo h-100 w-100 ">
            <button type="button" class="btn btn-outline-info position-absolute top-0 end-0 m-3" onclick="dark_mode()"><i class="bi bi-moon moon-icon "></i></button>
            <img src="~/SRS Screen Shorts/Fig56. Patient site 11.png" alt="">

            <div class="form">
                <a asp-route="PatientSite" class="back-link">&lt; Back</a>
                <h2>Reset Your Password</h2>

                <form action="#" method="post">
                    <div class="form-floating">
                        <input type="text" id="Username" class="form-control" name="Username" placeholder="Username" required>
                        <label>Username</label>
                        <i class="bi bi-person-circle user-icon icon"></i>
                    </div>
                    <button class="buttonlogin" type="submit">Reset Password</button>
                    <div class="bottom-links text-center">
                        <a asp-route="PatientLoginPage" class="bcklogin"> &lt; Back To Login</a>
                    </div>
                </form>
            </div>
            <div class="text-center">
                <a href="#" class="text-muted text-decoration-none">Terms Of Conditions</a> |
                <a href="#" class="text-muted text-decoration-none">Privacy Policy</a>
            </div>

        </div>
    </div>
</body>

</html>
