@{
    Layout = "_Layout";
    ViewData["Title"] = "RequestTypes";
}

<div class=" patients-types d-flex flex-column justify-content-center align-items-center ">

    <div class="w-100 m-5 ">
        <a asp-route="PatientSite" class="backbutton"> &lt; Back  </a>
    </div>
    <h2 class="mb-3"> <strong>I am a .....</strong></h2>
    <a class="patientanchor m-2" asp-route="PatientsTypeRequest"><strong>PATIENT</strong> </a>
    <a class="familyacnhor m-2" asp-route="FamilyTypeRequest"><strong>FAMILY / FRIEND</strong></a>
    <a class="concierge m-2" asp-route="ConciergeTypeRequest"><strong>CONCIERGE</strong></a>
    <a class="bpartner m-2" asp-route="BussinesTypeRequest"><strong>BUSINESS PARTNERS</strong></a>

</div>