body {
    background-color: #F5FFFA;
}



/*Patient DashBoard*/
.nav-link:not(.active) {
    color: black;
}

.nav-link.active {
    color: #0dcaf0 !important;
    border-bottom: 3px solid #0dcaf0;
}

